@model Employee;
<h2>Add Employee</h2>

<form asp-controller="Employee" asp-action="Add" method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div> 
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <button type="submit">Add Employee</button>
</form>